body{
    text-align: center;
    margin-top: 20px;
}
.header{
    background-image: url("images/back2.jpg");
    background-size: cover;
    color: aliceblue;
}
#siz{
    font-size: 30px;
    color: aliceblue;
}    
.service{
    background-image: url("images/back3.jpg");
    background-size: cover;
    color: aliceblue;
}
.design p{
    display: none;
}
.development p{
    display: none;
}
.product p{
    display: none;
}
#porti{
    border: 30px;
    padding: 40px;
}
#one :hover{
    color: white;
    opacity: 0.5;
    margin-right: 10px;
}
#two :hover{
    color: white;
    opacity: 0.5;
}
#three :hover{
    color: rgb(176, 184, 184);
    opacity: 0.9;
}
#four :hover{
    color: white;
    opacity: 0.5;
}
#five :hover{
    color: white;
    opacity: 0.5;
}
#six :hover{
    color: white;
    opacity: 0.5;
}
#seven :hover{
    color: aliceblue;
    opacity: 0.5;
}
#eight :hover{
    color: white;
    opacity: 0.5;
}
.color{
    display: none;
}

#form{
    background-image: url("images/back1.jpg");
  }
  .input{
    display: inline;
  
  }
  #form input{
    width:35%;
    background-color: transparent;
  
  }
  #name{
    margin-left: 12%;
    color :white;
  }
  #email{
    margin-left:5%;
    color: white;
  }
  #form textarea{
    background-color: transparent;
    color: white;
  }
  #email::placeholder{
    color: white;
  }
  
  #name::placeholder{
    color: white;
  }
  textarea::placeholder{
    color: white;
  }
  .icon{
    padding-left: 20px;
  }
#one ,#two, #three, #four, #five, #six, #seven, #eight :hover{
    padding: 10px;
    
}

.message {
   
    width: 10000000px;
    
}
