body{
    text-align: center;
    margin-top: 20px;
}
.header{
    background-image: url("images/back2.jpg");
    background-size: cover;
    color: aliceblue;
}
#siz{
    font-size: 30px;
    color: aliceblue;
}    
.service{
    background-image: url("images/back3.jpg");
    background-size: cover;
    color: aliceblue;
}
.design p{
    display: none;
}
.development p{
    display: none;
}
.product p{
    display: none;
}
#porti{
    border: 30px;
    padding: 40px;
}
#one :hover{
    color: white;
    opacity: 0.5;
    margin-right: 10px;
}
#two :hover{
    color: white;
    opacity: 0.5;
}
#three :hover{
    color: rgb(176, 184, 184);
    opacity: 0.9;
}
#four :hover{
    color: white;
    opacity: 0.5;
}
#five :hover{
    color: white;
    opacity: 0.5;
}
#six :hover{
    color: white;
    opacity: 0.5;
}
#seven :hover{
    color: aliceblue;
    opacity: 0.5;
}
#eight :hover{
    color: white;
    opacity: 0.5;
}
.color{
    display: none;
}
.footer{
    background-image: url(images/back1.jpg);
    color: aliceblue;
    text-decoration: aliceblue;
}
::placeholder{
    color: azure;
    text-justify: unset;
}
.social{
    word-spacing: 15px;
}
#email ,#name ,#message{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    
}
#message{
    height: 150px;
}
.alert{
    display: none;
}
#one ,#two, #three, #four, #five, #six, #seven, #eight :hover{
    padding: 10px;
    
}

#porti .overlay1{
    position: absolute;
    bottom: 230px;
    left: 180px;
    background-color: black;
    color: aliceblue;
    padding-left: 5px;
    border: 5px solid white;
    padding: 30px;

}
.container{
    position: relative;
}